In [49]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import DBSCAN
import matplotlib.pyplot as plt
from sklearn.metrics import adjusted_rand_score, adjusted_mutual_info_score
from sklearn.metrics import pairwise_distances
from sklearn.metrics import davies_bouldin_score

In [50]:
df = pd.read_csv("datasetnew.csv")

In [51]:
df.head(50)

,ID,Email Address,first name,last name,password,father_name,status,student_number,Gender,birthday,passed_course_unit,grade_point_average,enterning_year,Field,province,national_code,qutoa
0,1.0,Isabel_York156586436@c2nyu.works,Isabel,York,JtjFdAk5HW,Fariborz,obligated,7.785214e+09,Female,6/2/1380,40.0,18.40,1398.0,architecture,khozestan,1.114976e+09,mantaghe 1
1,2.0,Sienna_Duvall908637957@bcfhs.meet,Sienna,Duvall,MpI1bauhmP,Ebrahim,free,1.617643e+09,Female,1/20/1383,17.0,18.04,1399.0,electrical,esfahan,5.295921e+09,mantaghe 3
2,3.0,Julian_Talbot905290229@xtwt3.store,Julian,Talbot,VXp4FBalvM,Abdolhamid,obligated,7.512851e+09,Male,9/19/1377,136.0,12.69,1400.0,mechanic,chohar_mahal_va_bakhtiary,3.865381e+09,mantaghe 3
3,4.0,Nicholas_Lane533246088@ds59r.app,Nicholas,Lane,SwJBtimyr9,Ehsanollah,free,8.543001e+09,Male,9/26/1377,90.0,15.35,1400.0,electrical,ardabil,1.005230e+09,25 percent
4,5.0,Daphne_Faulkner129131798@nanoff.pro,Daphne,Faulkner,X8sqPsoHDs,Hadi,free,3.301624e+09,Female,12/29/1379,37.0,13.13,1399.0,architecture,boshehr,7.081041e+09,25 percent
5,6.0,Brad_Uttridge1947916448@uagvw.us,Brad,Uttridge,7EuehdyXDo,Homayoun,obligated,3.117774e+09,Male,12/2/1377,78.0,14.93,1398.0,architecture,kermanshah,4.145672e+09,25 percent
6,7.0,Carter_Dillon45688829@qu9ml.info,Carter,Dillon,u75MGwTq0Z,Farhad,free,9.980612e+09,Male,5/8/1380,50.0,17.44,1397.0,graphic,kermanshah,2.467019e+09,mantaghe 3
7,8.0,Carolyn_Brennan849452089@cdpfn.mobi,Carolyn,Brennan,dsrzJo0jpa,Bahman,free,5.172836e+09,Female,8/8/1383,30.0,14.91,1398.0,architecture,khorasan_jonobi,2.627950e+09,mantaghe 2
8,9.0,Johnathan_Stone 1432444600@crzq7.space,Johnathan,Stone,KOfGbQa6jQ,Khosrow,free,4.115806e+09,Male,5/2/1384,16.0,17.57,1398.0,computer,tehran,7.720887e+09,5 percent
9,10.0,Domenic_Dale634444699@ckzyi.site,Domenic,Dale,J6lUHu4iIG,Parviz,obligated,3.953521e+09,Male,6/25/1380,69.0,12.28,1397.0,graphic,boshehr,4.760780e+09,mantaghe 3
10,11.0,Emely_Rixon116681363@chkzl.autos,Emely,Rixon,M5VSF2btjY,Zohreh,free,3.127789e+09,Female,4/14/1378,109.0,13.58,1400.0,architecture,esfahan,4.208734e+08,mantaghe 3
11,12.0,Rick_Dyson1321334998@bcfhs.com,Rick,Dyson,9n0J4F0MSo,Armin,free,8.084003e+09,Male,5/24/1379,121.0,15.38,1399.0,graphic,mazandaran,1.003031e+09,5 percent
12,13.0,Lauren_John1023873840@mpibr.app,Lauren,John,s0pdEGi12R,Yaser,obligated,5.796464e+08,Female,6/18/1382,87.0,16.36,1401.0,civil,mazandaran,1.350600e+09,25 percent
13,14.0,Brad_Reynolds390936848@karnv.edu,Brad,Reynolds,5YQjq76YIk,Behrouz,obligated,7.355194e+09,Male,2/11/1381,39.0,15.32,1397.0,computer,alborz,8.493154e+09,mantaghe 1
14,15.0,Rosalyn_Gray926727976@nmz0p.biz,Rosalyn,Gray,pdF2IeVWqD,Abdolhamid,free,2.102306e+09,Female,9/18/1383,9.0,16.18,1397.0,mechanic,gilan,4.403743e+09,mantaghe 3
15,16.0,Melania_Hooper1787809246@chkzl.biz,Melania,Hooper,LUiBzgmiHG,Arman,free,2.791500e+09,Female,1/1/1381,20.0,15.60,1397.0,mechanic,zanjan,6.659027e+09,mantaghe 1
16,17.0,Ronald_White770285790@yafr7.page,Ronald,White,cYsfvc5UpC,Sohrab,obligated,9.255860e+09,Male,7/23/1383,22.0,13.69,1398.0,mechanic,alborz,3.380215e+09,mantaghe 3
17,18.0,Brad_Barrett1239071724@zynuu.pro,Brad,Barrett,AJYAqieHQN,Ehsanollah,free,7.910341e+09,Male,2/3/1383,36.0,18.24,1400.0,mechanic,kerman,7.536627e+08,mantaghe 3
18,19.0,Brad_White1032936938@cke3u.website,Brad,White,YRc2XYLDXJ,Arman,free,6.810767e+09,Male,3/17/1380,80.0,18.16,1400.0,computer,kerman,2.274933e+09,mantaghe 3
19,20.0,Gabriel_Zaoui706183432@lyvnc.audio,Gabriel,Zaoui,FRRV6trwBh,Ghafour,free,6.265889e+09,Male,12/13/1378,72.0,15.05,1400.0,computer,azarbaijan_gharbi,3.100556e+09,25 percent
20,21.0,Aleksandra_Powell376947139@bqkv0.info,Aleksandra,Powell,gVPpIayUu9,Aziz,obligated,2.456905e+09,Female,12/16/1383,24.0,12.27,1401.0,computer,hormozgan,5.322520e+09,mantaghe 3
21,22.0,Alexander_Ingram1170560759@bqkv0.tech,Alexander,Ingram,LtWy8Tke88,Navid,free,9.703698e+08,Male,10/3/1382,74.0,18.92,1401.0,computer,fars,8.896120e+09,5 percent
22,23.0,Penelope_Fowler802718282@gnjps.edu,Penelope,Fowler,qPm4n8Q8qF,Abdolhossein,free,8.949567e+09,Female,7/8/1380,10.0,13.54,1400.0,graphic,khorasan_shoamli,6.770887e+09,mantaghe 3
23,24.0,Jamie_Cavanagh647865819@avn7d.catering,Jamie,Cavanagh,w9YlMmP8pT,Abdollah,free,7.037114e+09,Female,9/19/1383,109.0,17.57,1398.0,mechanic,mazandaran,2.347352e+09,mantaghe 2
24,25.0,Liv_Ellison318168812@mpibr.net,Liv,Ellison,fxJbhOO4GX,Mahmoud,free,6.224447e+08,Female,6/6/1384,127.0,15.66,1398.0,graphic,hormozgan,7.196531e+09,25 percent
25,26.0,Hope_Rees2077039012@p5emz.online,Hope,Rees,HMha0HNVgn,Faramarz,free,6.602639e+09,Female,11/19/1379,117.0,17.09,1401.0,computer,khorasan_razavi,2.878338e+09,mantaghe 2
26,27.0,Margaret_Dubois579065785@lhp4j.name,Margaret,Dubois,9Ly3o1xbir,Sobhan,obligated,7.836973e+09,Female,5/14/1382,92.0,16.33,1397.0,mechanic,boshehr,9.746933e+09,25 percent
27,28.0,Joseph_Trent1225907418@c2nyu.info,Joseph,Trent,DZajy9ThxV,Mehdi,obligated,6.569089e+09,Male,1/28/1380,115.0,14.63,1401.0,mechanic,esfahan,4.677102e+07,mantaghe 3
28,29.0,Doug_Plant125380807@ckzyi.edu,Doug,Plant,pus0gWKEpR,Yousef,obligated,8.030102e+09,Male,8/6/1381,122.0,12.46,1399.0,civil,zanjan,6.214487e+09,25 percent
29,30.0,Alba_Olivier803089643@cdpfn.zone,Alba,Olivier,Z0IrKbWWiZ,Yahya,obligated,6.973119e+09,Female,10/16/1379,71.0,17.14,1401.0,civil,khorasan_shoamli,7.032348e+09,mantaghe 1
30,31.0,Bart_Uttridge1589789549@ptr6k.info,Bart,Uttridge,FjnZhIIpQs,Reza,obligated,9.768696e+09,Male,9/6/1378,87.0,18.60,1400.0,electrical,fars,5.682814e+09,mantaghe 1
31,32.0,Sarah_Kelly818608550@1kmd3.services,Sarah,Kelly,qnlZg5dr6f,Majid,free,4.186648e+09,Female,11/26/1381,71.0,17.28,1398.0,computer,khozestan,6.791939e+09,mantaghe 1
32,33.0,Natalie_Pratt234057847@1wa8o.club,Natalie,Pratt,EO2t2HzqDj,Khosrow,obligated,7.885374e+09,Female,11/25/1382,20.0,19.30,1398.0,graphic,gilan,9.091145e+09,25 percent
33,34.0,Kirsten_Notman1958739655@qu9ml.host,Kirsten,Notman,XM1fLAvowr,Behzad,free,8.367981e+09,Female,6/19/1381,108.0,14.78,1400.0,architecture,mazandaran,1.663571e+09,mantaghe 1
34,35.0,Elena_Brock1206812149@1wa8o.audio,Elena,Brock,arw4O7BW3r,Armin,free,1.723574e+09,Female,6/24/1383,77.0,19.01,1400.0,civil,khorasan_shoamli,5.299188e+09,25 percent
35,36.0,Shay_Flanders980746390@cdpfn.website,Shay,Flanders,pBSKrd3Srg,Iraj,obligated,9.915466e+08,Female,3/24/1384,106.0,14.94,1399.0,computer,azarbaijan_gharbi,7.688550e+08,mantaghe 3
36,37.0,John_Lyon1983792255@ptr6k.ca,John,Lyon,cwx7KZtGBI,Hamid,obligated,5.751599e+09,Male,7/28/1382,92.0,19.51,1401.0,graphic,fars,1.338111e+09,5 percent
37,38.0,Doug_Gaynor1500770080@yahoo.edu,Doug,Gaynor,nfyZukh0bL,Mohammad,free,5.635414e+08,Male,7/3/1380,18.0,19.90,1398.0,architecture,markazi,9.047488e+09,mantaghe 3
38,39.0,Ronald_Johnson185065433@ag5wi.space,Ronald,Johnson,6E29HHwPGb,Arman,free,8.341084e+09,Male,12/17/1383,64.0,19.08,1401.0,mechanic,ialm,4.305970e+09,25 percent
39,40.0,Eryn_Brown1205077117@cke3u.host,Eryn,Brown,b1UKokwlMX,Ali,free,2.504157e+09,Female,11/28/1378,96.0,16.38,1401.0,computer,azarbaijan_gharbi,5.898741e+08,5 percent
40,41.0,Harvey_Cann1000767221@iscmr.works,Harvey,Cann,VKGXOVzGLS,Omid,obligated,5.960333e+09,Male,6/14/1384,95.0,18.43,1400.0,electrical,azarbaijan_gharbi,6.826272e+09,mantaghe 3
41,42.0,Tony_Stewart1088542019@qu9ml.auction,Tony,Stewart,Gon36yx7qd,Behnam,obligated,9.527396e+09,Male,3/10/1379,83.0,15.43,1397.0,electrical,hormozgan,4.602321e+09,25 percent
42,43.0,Jayden_Russel1126694596@yafr7.digital,Jayden,Russel,xDvDqJNyVv,Davoud,obligated,7.038690e+09,Male,9/17/1382,71.0,19.20,1398.0,computer,yazd,2.914592e+09,mantaghe 2
43,44.0,Julian_Kerr1821681796@xtwt3.tech,Julian,Kerr,Pvdl1QHWK1,Hadi,obligated,8.953713e+08,Male,9/14/1379,86.0,13.52,1398.0,electrical,boshehr,2.928136e+09,5 percent
44,45.0,Sadie_Crawford1165316675@evyvh.center,Sadie,Crawford,zk8vkZddaO,Abdollah,free,7.705611e+09,Female,12/3/1383,39.0,12.60,1401.0,electrical,khorasan_jonobi,2.077600e+09,mantaghe 1
45,46.0,Susan_Gregory1118714842@ohqqh.store,Susan,Gregory,6K7vqKHpgN,Ghafour,obligated,2.279994e+09,Female,5/30/1384,4.0,12.11,1401.0,graphic,khorasan_razavi,5.656848e+09,25 percent
46,47.0,Lana_Allington193206210@zynuu.page,Lana,Allington,dOWGLUmR35,Afshin,free,7.367354e+09,Female,11/17/1378,53.0,19.39,1399.0,computer,gilan,2.504724e+09,25 percent
47,48.0,Fiona_Tyrrell643007147@gnjps.website,Fiona,Tyrrell,wf2YvwxduI,Iraj,obligated,1.227418e+09,Female,8/12/1381,22.0,14.63,1397.0,graphic,boshehr,8.345547e+09,mantaghe 1
48,49.0,Louise_Murphy1972734158@nanoff.business,Louise,Murphy,aEGMELN2Cv,Faramarz,free,2.453662e+09,Female,2/22/1380,133.0,19.19,1401.0,electrical,ghom,1.046264e+09,mantaghe 2
49,50.0,Doug_Summers2017226163@qu9ml.name,Doug,Summers,8q1qp6hyde,Fariborz,free,2.870767e+09,Male,10/19/1382,136.0,12.43,1397.0,electrical,ialm,8.777604e+09,25 percent

In [52]:
df1 = df.query('Gender == "Male"')
df1.head()

,ID,Email Address,first name,last name,password,father_name,status,student_number,Gender,birthday,passed_course_unit,grade_point_average,enterning_year,Field,province,national_code,qutoa
2,3.0,Julian_Talbot905290229@xtwt3.store,Julian,Talbot,VXp4FBalvM,Abdolhamid,obligated,7.512851e+09,Male,9/19/1377,136.0,12.69,1400.0,mechanic,chohar_mahal_va_bakhtiary,3.865381e+09,mantaghe 3
3,4.0,Nicholas_Lane533246088@ds59r.app,Nicholas,Lane,SwJBtimyr9,Ehsanollah,free,8.543001e+09,Male,9/26/1377,90.0,15.35,1400.0,electrical,ardabil,1.005230e+09,25 percent
5,6.0,Brad_Uttridge1947916448@uagvw.us,Brad,Uttridge,7EuehdyXDo,Homayoun,obligated,3.117774e+09,Male,12/2/1377,78.0,14.93,1398.0,architecture,kermanshah,4.145672e+09,25 percent
6,7.0,Carter_Dillon45688829@qu9ml.info,Carter,Dillon,u75MGwTq0Z,Farhad,free,9.980612e+09,Male,5/8/1380,50.0,17.44,1397.0,graphic,kermanshah,2.467019e+09,mantaghe 3
8,9.0,Johnathan_Stone 1432444600@crzq7.space,Johnathan,Stone,KOfGbQa6jQ,Khosrow,free,4.115806e+09,Male,5/2/1384,16.0,17.57,1398.0,computer,tehran,7.720887e+09,5 percent

In [53]:
df2 = df.query('Gender == "Female"')
df2.head()

,ID,Email Address,first name,last name,password,father_name,status,student_number,Gender,birthday,passed_course_unit,grade_point_average,enterning_year,Field,province,national_code,qutoa
0,1.0,Isabel_York156586436@c2nyu.works,Isabel,York,JtjFdAk5HW,Fariborz,obligated,7.785214e+09,Female,6/2/1380,40.0,18.40,1398.0,architecture,khozestan,1.114976e+09,mantaghe 1
1,2.0,Sienna_Duvall908637957@bcfhs.meet,Sienna,Duvall,MpI1bauhmP,Ebrahim,free,1.617643e+09,Female,1/20/1383,17.0,18.04,1399.0,electrical,esfahan,5.295921e+09,mantaghe 3
4,5.0,Daphne_Faulkner129131798@nanoff.pro,Daphne,Faulkner,X8sqPsoHDs,Hadi,free,3.301624e+09,Female,12/29/1379,37.0,13.13,1399.0,architecture,boshehr,7.081041e+09,25 percent
7,8.0,Carolyn_Brennan849452089@cdpfn.mobi,Carolyn,Brennan,dsrzJo0jpa,Bahman,free,5.172836e+09,Female,8/8/1383,30.0,14.91,1398.0,architecture,khorasan_jonobi,2.627950e+09,mantaghe 2
10,11.0,Emely_Rixon116681363@chkzl.autos,Emely,Rixon,M5VSF2btjY,Zohreh,free,3.127789e+09,Female,4/14/1378,109.0,13.58,1400.0,architecture,esfahan,4.208734e+08,mantaghe 3

In [54]:
df3 = df1.iloc[:,11:15]
df3.head(150)

,grade_point_average,enterning_year,Field,province
2,12.69,1400.0,mechanic,chohar_mahal_va_bakhtiary
3,15.35,1400.0,electrical,ardabil
5,14.93,1398.0,architecture,kermanshah
6,17.44,1397.0,graphic,kermanshah
8,17.57,1398.0,computer,tehran
...,...,...,...,...
291,17.47,1398.0,civil,khorasan_shoamli
292,14.36,1401.0,civil,lorestan
296,13.11,1398.0,computer,zanjan
297,17.83,1397.0,electrical,semnan
300,12.27,1401.0,mechanic,yazd

In [55]:
df4 = df2.iloc[:,11:15]
df4.head(150)

     grade_point_average  enterning_year         Field         province
0                  18.40          1398.0  architecture        khozestan
1                  18.04          1399.0    electrical          esfahan
4                  13.13          1399.0  architecture          boshehr
7                  14.91          1398.0  architecture  khorasan_jonobi
10                 13.58          1400.0  architecture          esfahan
..                   ...             ...           ...              ...
288                13.31          1398.0         civil           tehran
293                12.42          1400.0  architecture             ialm
294                19.66          1400.0  architecture           tehran
295                18.76          1398.0      computer           kerman
298                18.09          1398.0      mechanic        kordestan

[150 rows x 4 columns]

In [56]:
nominal_to_numeric_Field_male = {'electrical' : 13, 'architecture' : 42, 'computer' : 14, 'civil' : 41, 'graphic' : 39, 'mechanic' : 57}
df3['Field'] = df3['Field'].map(nominal_to_numeric_Field_male)
print(df3)

      grade_point_average  enterning_year  Field                   province
2                   12.69          1400.0     57  chohar_mahal_va_bakhtiary
3                   15.35          1400.0     13                    ardabil
5                   14.93          1398.0     42                 kermanshah
6                   17.44          1397.0     39                 kermanshah
8                   17.57          1398.0     14                     tehran
...                   ...             ...    ...                        ...
9995                13.13          1398.0     39                     kerman
9996                14.23          1401.0     13                    ardabil
9997                18.29          1398.0     41                      gilan
9998                18.15          1397.0     42          azarbaijan_gharbi
9999                15.62          1398.0     13          azarbaijan_gharbi

[6900 rows x 4 columns]

In [57]:
nominal_to_numeric_Field_female = {'electrical' : 13, 'architecture' : 42, 'computer' : 14, 'civil' : 41, 'graphic' : 39, 'mechanic' : 57}
df4['Field'] = df4['Field'].map(nominal_to_numeric_Field_female)
print(df4)

      grade_point_average  enterning_year  Field               province
0                   18.40          1398.0     42              khozestan
1                   18.04          1399.0     13                esfahan
4                   13.13          1399.0     42                boshehr
7                   14.91          1398.0     42        khorasan_jonobi
10                  13.58          1400.0     42                esfahan
...                   ...             ...    ...                    ...
6309                12.74          1397.0     41                   yazd
6311                14.77          1400.0     14                 tehran
6312                18.22          1397.0     13                ardabil
6313                15.00          1400.0     14                hamedan
6315                18.80          1398.0     14  sistan_va_balochestan

[3100 rows x 4 columns]

In [58]:
nominal_to_numeric_enterning_year_male = {1397 : 1, 1398 : 2, 1399 : 3, 1400 : 4, 1401 : 5}
df3['enterning_year'] = df3['enterning_year'].map(nominal_to_numeric_enterning_year_male)
print(df3)

      grade_point_average  enterning_year  Field                   province
2                   12.69               4     57  chohar_mahal_va_bakhtiary
3                   15.35               4     13                    ardabil
5                   14.93               2     42                 kermanshah
6                   17.44               1     39                 kermanshah
8                   17.57               2     14                     tehran
...                   ...             ...    ...                        ...
9995                13.13               2     39                     kerman
9996                14.23               5     13                    ardabil
9997                18.29               2     41                      gilan
9998                18.15               1     42          azarbaijan_gharbi
9999                15.62               2     13          azarbaijan_gharbi

[6900 rows x 4 columns]

In [59]:
nominal_to_numeric_enterning_year_female = {1397 : 1, 1398 : 2, 1399 : 3, 1400 : 4, 1401 : 5}
df4['enterning_year'] = df4['enterning_year'].map(nominal_to_numeric_enterning_year_female)
print(df4)

      grade_point_average  enterning_year  Field               province
0                   18.40               2     42              khozestan
1                   18.04               3     13                esfahan
4                   13.13               3     42                boshehr
7                   14.91               2     42        khorasan_jonobi
10                  13.58               4     42                esfahan
...                   ...             ...    ...                    ...
6309                12.74               1     41                   yazd
6311                14.77               4     14                 tehran
6312                18.22               1     13                ardabil
6313                15.00               4     14                hamedan
6315                18.80               2     14  sistan_va_balochestan

[3100 rows x 4 columns]

In [60]:
nominal_to_numeric_province_male = {'kahgoloie_va_boyerahmad' : 13, 'alborz' : 21, 'hormozgan' : 39, 'semnan' : 47, 'ghom' : 54, 'boshehr' : 66,'azarbaijan_sharghi' : 73,'mazandaran' : 89,'sistan_va_balochestan' : 94,'khorasan_jonobi' : 107,'tehran' : 116,'ialm' : 124,'kordestan' : 137,'zanjan' : 146,'gilan' : 159,'golestan' : 167,'lorestan' : 173,'khozestan' : 187,'kerman' : 194,'fars' : 207,'kermanshah' : 218,'yazd' : 223,'ardabil' : 238,'esfahan' : 247,'khorasan_shoamli' : 254,'markazi' : 267,'azarbaijan_gharbi' : 277,'chohar_mahal_va_bakhtiary' : 289,'khorasan_razavi' : 294,'hamedan' : 307,'ghazvin' : 317}
df3['province'] = df3['province'].map(nominal_to_numeric_province_male)
print(df3)

      grade_point_average  enterning_year  Field  province
2                   12.69               4     57       289
3                   15.35               4     13       238
5                   14.93               2     42       218
6                   17.44               1     39       218
8                   17.57               2     14       116
...                   ...             ...    ...       ...
9995                13.13               2     39       194
9996                14.23               5     13       238
9997                18.29               2     41       159
9998                18.15               1     42       277
9999                15.62               2     13       277

[6900 rows x 4 columns]

In [61]:
nominal_to_numeric_province_female = {'kahgoloie_va_boyerahmad' : 13, 'alborz' : 21, 'hormozgan' : 39, 'semnan' : 47, 'ghom' : 54, 'boshehr' : 66,'azarbaijan_sharghi' : 73,'mazandaran' : 89,'sistan_va_balochestan' : 94,'khorasan_jonobi' : 107,'tehran' : 116,'ialm' : 124,'kordestan' : 137,'zanjan' : 146,'gilan' : 159,'golestan' : 167,'lorestan' : 173,'khozestan' : 187,'kerman' : 194,'fars' : 207,'kermanshah' : 218,'yazd' : 223,'ardabil' : 238,'esfahan' : 247,'khorasan_shoamli' : 254,'markazi' : 267,'azarbaijan_gharbi' : 277,'chohar_mahal_va_bakhtiary' : 289,'khorasan_razavi' : 294,'hamedan' : 307,'ghazvin' : 317}
df4['province'] = df4['province'].map(nominal_to_numeric_province_female)
print(df4)

      grade_point_average  enterning_year  Field  province
0                   18.40               2     42       187
1                   18.04               3     13       247
4                   13.13               3     42        66
7                   14.91               2     42       107
10                  13.58               4     42       247
...                   ...             ...    ...       ...
6309                12.74               1     41       223
6311                14.77               4     14       116
6312                18.22               1     13       238
6313                15.00               4     14       307
6315                18.80               2     14        94

[3100 rows x 4 columns]

In [62]:
avg = df3['grade_point_average']
avg_arr = avg.values.reshape(-1,1)
scaler = MinMaxScaler()
norm_avg = scaler.fit_transform(avg_arr)
df3['norm_avg_male'] = norm_avg
print(df3)

      grade_point_average  enterning_year  Field  province  norm_avg_male
2                   12.69               4     57       289        0.08625
3                   15.35               4     13       238        0.41875
5                   14.93               2     42       218        0.36625
6                   17.44               1     39       218        0.68000
8                   17.57               2     14       116        0.69625
...                   ...             ...    ...       ...            ...
9995                13.13               2     39       194        0.14125
9996                14.23               5     13       238        0.27875
9997                18.29               2     41       159        0.78625
9998                18.15               1     42       277        0.76875
9999                15.62               2     13       277        0.45250

[6900 rows x 5 columns]

In [63]:
avg = df4['grade_point_average']
avg_arr = avg.values.reshape(-1,1)
scaler = MinMaxScaler()
norm_avg = scaler.fit_transform(avg_arr)
df4['norm_avg_female'] = norm_avg
print(df4)

      grade_point_average  enterning_year  Field  province  norm_avg_female
0                   18.40               2     42       187          0.80000
1                   18.04               3     13       247          0.75500
4                   13.13               3     42        66          0.14125
7                   14.91               2     42       107          0.36375
10                  13.58               4     42       247          0.19750
...                   ...             ...    ...       ...              ...
6309                12.74               1     41       223          0.09250
6311                14.77               4     14       116          0.34625
6312                18.22               1     13       238          0.77750
6313                15.00               4     14       307          0.37500
6315                18.80               2     14        94          0.85000

[3100 rows x 5 columns]

In [64]:
year = df3['enterning_year']
year_arr = year.values.reshape(-1,1)
scaler = MinMaxScaler()
norm_year = scaler.fit_transform(year_arr)
df3['norm_year_male'] = norm_year
print(df3)

      grade_point_average  enterning_year  Field  province  norm_avg_male  \
2                   12.69               4     57       289        0.08625
3                   15.35               4     13       238        0.41875
5                   14.93               2     42       218        0.36625
6                   17.44               1     39       218        0.68000
8                   17.57               2     14       116        0.69625
...                   ...             ...    ...       ...            ...
9995                13.13               2     39       194        0.14125
9996                14.23               5     13       238        0.27875
9997                18.29               2     41       159        0.78625
9998                18.15               1     42       277        0.76875
9999                15.62               2     13       277        0.45250

      norm_year_male
2               0.75
3               0.75
5               0.25
6               0.00
8               0.25
...              ...
9995            0.25
9996            1.00
9997            0.25
9998            0.00
9999            0.25

[6900 rows x 6 columns]

In [65]:
year = df4['enterning_year']
year_arr = year.values.reshape(-1,1)
scaler = MinMaxScaler()
norm_year = scaler.fit_transform(year_arr)
df4['norm_year_female'] = norm_year
print(df4)

      grade_point_average  enterning_year  Field  province  norm_avg_female  \
0                   18.40               2     42       187          0.80000
1                   18.04               3     13       247          0.75500
4                   13.13               3     42        66          0.14125
7                   14.91               2     42       107          0.36375
10                  13.58               4     42       247          0.19750
...                   ...             ...    ...       ...              ...
6309                12.74               1     41       223          0.09250
6311                14.77               4     14       116          0.34625
6312                18.22               1     13       238          0.77750
6313                15.00               4     14       307          0.37500
6315                18.80               2     14        94          0.85000

      norm_year_female
0                 0.25
1                 0.50
4                 0.50
7                 0.25
10                0.75
...                ...
6309              0.00
6311              0.75
6312              0.00
6313              0.75
6315              0.25

[3100 rows x 6 columns]

In [66]:
field = df3['Field']
field_arr = field.values.reshape(-1,1)
scaler = MinMaxScaler()
norm_field = scaler.fit_transform(field_arr)
df3['norm_field_male'] = norm_field
print(df3)

      grade_point_average  enterning_year  Field  province  norm_avg_male  \
2                   12.69               4     57       289        0.08625
3                   15.35               4     13       238        0.41875
5                   14.93               2     42       218        0.36625
6                   17.44               1     39       218        0.68000
8                   17.57               2     14       116        0.69625
...                   ...             ...    ...       ...            ...
9995                13.13               2     39       194        0.14125
9996                14.23               5     13       238        0.27875
9997                18.29               2     41       159        0.78625
9998                18.15               1     42       277        0.76875
9999                15.62               2     13       277        0.45250

      norm_year_male  norm_field_male
2               0.75         1.000000
3               0.75         0.000000
5               0.25         0.659091
6               0.00         0.590909
8               0.25         0.022727
...              ...              ...
9995            0.25         0.590909
9996            1.00         0.000000
9997            0.25         0.636364
9998            0.00         0.659091
9999            0.25         0.000000

[6900 rows x 7 columns]

In [67]:
field = df4['Field']
field_arr = field.values.reshape(-1,1)
scaler = MinMaxScaler()
norm_field = scaler.fit_transform(field_arr)
df4['norm_field_female'] = norm_field
print(df4)

      grade_point_average  enterning_year  Field  province  norm_avg_female  \
0                   18.40               2     42       187          0.80000
1                   18.04               3     13       247          0.75500
4                   13.13               3     42        66          0.14125
7                   14.91               2     42       107          0.36375
10                  13.58               4     42       247          0.19750
...                   ...             ...    ...       ...              ...
6309                12.74               1     41       223          0.09250
6311                14.77               4     14       116          0.34625
6312                18.22               1     13       238          0.77750
6313                15.00               4     14       307          0.37500
6315                18.80               2     14        94          0.85000

      norm_year_female  norm_field_female
0                 0.25           0.659091
1                 0.50           0.000000
4                 0.50           0.659091
7                 0.25           0.659091
10                0.75           0.659091
...                ...                ...
6309              0.00           0.636364
6311              0.75           0.022727
6312              0.00           0.000000
6313              0.75           0.022727
6315              0.25           0.022727

[3100 rows x 7 columns]

In [68]:
province = df3['province']
province_arr = province.values.reshape(-1,1)
scaler = MinMaxScaler()
norm_province = scaler.fit_transform(province_arr)
df3['norm_province_male'] = norm_province
# subset_columns = df3.iloc[:, 4:7]
subset_columns = df3.iloc[:, [4,5,6]]

# Select 500 rows from the subset
subset_rows = subset_columns.head(500)

# Save the subset to 'datasetnew3.csv'
subset_rows.to_csv('datasetnew_male_1.csv', index=False)

print(df3)

      grade_point_average  enterning_year  Field  province  norm_avg_male  \
2                   12.69               4     57       289        0.08625
3                   15.35               4     13       238        0.41875
5                   14.93               2     42       218        0.36625
6                   17.44               1     39       218        0.68000
8                   17.57               2     14       116        0.69625
...                   ...             ...    ...       ...            ...
9995                13.13               2     39       194        0.14125
9996                14.23               5     13       238        0.27875
9997                18.29               2     41       159        0.78625
9998                18.15               1     42       277        0.76875
9999                15.62               2     13       277        0.45250

      norm_year_male  norm_field_male  norm_province_male
2               0.75         1.000000            0.907895
3               0.75         0.000000            0.740132
5               0.25         0.659091            0.674342
6               0.00         0.590909            0.674342
8               0.25         0.022727            0.338816
...              ...              ...                 ...
9995            0.25         0.590909            0.595395
9996            1.00         0.000000            0.740132
9997            0.25         0.636364            0.480263
9998            0.00         0.659091            0.868421
9999            0.25         0.000000            0.868421

[6900 rows x 8 columns]

In [69]:
province = df4['province']
province_arr = province.values.reshape(-1,1)
scaler = MinMaxScaler()
norm_province = scaler.fit_transform(province_arr)
df4['norm_province_female'] = norm_province
# subset_columns = df3.iloc[:, 4:7]
subset_columns = df4.iloc[:, [4, 5, 6]]

# Select 500 rows from the subset
subset_rows = subset_columns.head(500)

# Save the subset to 'datasetnew3.csv'
subset_rows.to_csv('datasetnew_female1.csv', index=False)

print(df4)

      grade_point_average  enterning_year  Field  province  norm_avg_female  \
0                   18.40               2     42       187          0.80000
1                   18.04               3     13       247          0.75500
4                   13.13               3     42        66          0.14125
7                   14.91               2     42       107          0.36375
10                  13.58               4     42       247          0.19750
...                   ...             ...    ...       ...              ...
6309                12.74               1     41       223          0.09250
6311                14.77               4     14       116          0.34625
6312                18.22               1     13       238          0.77750
6313                15.00               4     14       307          0.37500
6315                18.80               2     14        94          0.85000

      norm_year_female  norm_field_female  norm_province_female
0                 0.25           0.659091              0.572368
1                 0.50           0.000000              0.769737
4                 0.50           0.659091              0.174342
7                 0.25           0.659091              0.309211
10                0.75           0.659091              0.769737
...                ...                ...                   ...
6309              0.00           0.636364              0.690789
6311              0.75           0.022727              0.338816
6312              0.00           0.000000              0.740132
6313              0.75           0.022727              0.967105
6315              0.25           0.022727              0.266447

[3100 rows x 8 columns]

In [70]:
# X = np.reshape(df3.iloc[:, 4:8],(6900,4))
# X = np.array(X)
# for i in range(100):
#     for j in range(8):
        # dbscanm = DBSCAN(eps=(i + 1) / 100,min_samples=j + 2)
        # labelsm = dbscanm.fit_predict(X)
        # #print(np.unique(labels))
        # colors = plt.cm.Spectral(np.linspace(0, 1, len(np.unique(labelsm))))
        # n_clusters_ = len(set(labelsm)) - (1 if -1 in labelsm else 0)
        # n_noise_ = list(labelsm).count(-1)
        # if(n_clusters_ == 6900 or n_noise_ == 6900):
        #     continue
        #
        # core_sample_mask = np.zeros_like(dbscanm.labels_, dtype=bool)
        # core_sample_mask[dbscanm.core_sample_indices_] = True
        # #print(core_sample_mask)
        # #print('Estimated number of clusters: %d' % n_clusters_)
        # #print('Estimated number of noise points: %d' % n_noise_)
        # if n_clusters_>30 and n_noise_ < 100:
        #     print("davies (male): ",davies_bouldin_score(df3.iloc[:, 4:8], labelsm), "eps : ", (i + 1) / 100, "min_points : ",j + 2, "clusters",n_clusters_)

In [71]:
# Y = np.reshape(df4.iloc[:, 4:8],(3100,4))
# Y = np.array(Y)
# for i in range(100):
#     for j in range(8):
#         dbscanf = DBSCAN(eps=(i + 1) / 100,min_samples=j + 2)
#         labelsf = dbscanf.fit_predict(Y)
#         #print(np.unique(labels))
#         colors = plt.cm.Spectral(np.linspace(0, 1, len(np.unique(labelsf))))
#         n_clusters_ = len(set(labelsf)) - (1 if -1 in labelsf else 0)
#         n_noise_ = list(labelsf).count(-1)
#         if(n_clusters_ == 3100 or n_noise_ == 3100):
#             continue
#
#         core_sample_mask = np.zeros_like(dbscanf.labels_, dtype=bool)
#         core_sample_mask[dbscanf.core_sample_indices_] = True
#         #print(core_sample_mask)
#         #print('Estimated number of clusters: %d' % n_clusters_)
#         #print('Estimated number of noise points: %d' % n_noise_)
#         if n_clusters_>30 and n_noise_ < 100:
#             print("davies (female): ",davies_bouldin_score(df4.iloc[:, 4:8], labelsf), "eps : ", (i + 1) / 100, "min_points : ",j + 2, "clusters : ",n_clusters_,"noise : ",n_noise_)

In [72]:
print(df3)

      grade_point_average  enterning_year  Field  province  norm_avg_male  \
2                   12.69               4     57       289        0.08625
3                   15.35               4     13       238        0.41875
5                   14.93               2     42       218        0.36625
6                   17.44               1     39       218        0.68000
8                   17.57               2     14       116        0.69625
...                   ...             ...    ...       ...            ...
9995                13.13               2     39       194        0.14125
9996                14.23               5     13       238        0.27875
9997                18.29               2     41       159        0.78625
9998                18.15               1     42       277        0.76875
9999                15.62               2     13       277        0.45250

      norm_year_male  norm_field_male  norm_province_male
2               0.75         1.000000            0.907895
3               0.75         0.000000            0.740132
5               0.25         0.659091            0.674342
6               0.00         0.590909            0.674342
8               0.25         0.022727            0.338816
...              ...              ...                 ...
9995            0.25         0.590909            0.595395
9996            1.00         0.000000            0.740132
9997            0.25         0.636364            0.480263
9998            0.00         0.659091            0.868421
9999            0.25         0.000000            0.868421

[6900 rows x 8 columns]